:root {
    --gray: #707070;
    --border: #d3d3d3;
    --headline: #20242F;
    --primary-text: #333;
    --dropzone-over: #d4d4d4;
    --header-height: 4.5rem;
    --nav-width: 225px;
    --collapsed-nav-width: 80px;
    --first-color: #4070f4;
    --first-color-light: #AFA5D9;
    --white-color: #ffffff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}


.dropzone-box {
    border-radius: 1rem;
    width: 35rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--border);
    background-color: var(--white-color);
}

.dropzone-box h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: var(--headline);
}

.dropzone-box p {
    font-size: 1.15rem;
    color: var(--gray);
}

.dropzone-area {
    padding: 0.5rem;
    position: relative;
    margin-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--blue-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzone-description {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.dropzone-area .file-info {
    font-size: 1.1rem;
}

.dropzone-area .file-info ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.dropzone-area .file-info ul li {
    text-align: left;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon i {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: var(--blue-color);
}

.dropzone-area:hover {
    background: var(--dropzone-over);
}

.dropzone--over {
    border: 2px solid var(--primary);
    background-color: var(--dropzone-over);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    border: none;
    transition: background 0.3s ease;
}

.dropzone-help {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropzone-actions button[type='reset'] {
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzone-actions button[type='reset']:hover {
    text-decoration: underline;
}

.dropzone-actions button[type='submit'] {
    background: var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: var(--primary-text);
    border: none;
    cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
    background: var(--primary-hover);
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
}
